{{template "header" .}}
<div class="px-6">
  <h1 class="py-4 text-4xl semibold tracking-tight">Contact Page</h1>
  <p class="text-gray-800">
    To get in touch, please send an email to
    <a class="underline" href="mailto:sam@lenslock.com"> sam@lenslock </a>
  </p>
</div>
{{template "footer" .}}
