{{template "header" .}}

<form action="/users" method="post">
  <div>
    <label for="email">Email Address</label>
    <input type="text" name="email" id="email" placeholder="Email Address" required autocomplete="email" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" required/>
  </div>
  <div><button type="submit">Sign Up</button></div>
</form>

{{template "footer" .}}
